In [8]:
import sqlite3
import pandas as pd

# Mapping of CSV filenames to desired SQLite table names
csv_to_table = {
    'customers.csv': 'customers',
    'departments.csv': 'departments',
    'employees.csv': 'employees',
    'orders.csv': 'orders',
    'products.csv': 'products',
    'returns.csv': 'returns'
}

# load CSV files into pandas DataFrames and check all info, statictic, and unique values, missing values, and data types, unique values, convert into SQLite tables as named of csv files and in orderflow as sql database named as "orderflow.db"
dataframes = {}
for csv_file, table_name in csv_to_table.items():
    df = pd.read_csv(csv_file)
    dataframes[table_name] = df
    print("=" * 100)
    print(f"DataFrame for {table_name}:")
    print("=" * 100)
    print("Basic Info:")
    print(df.info())
    print("-" * 100)
    print("Descriptive Statistics:")
    print(df.describe())
    print("-" * 100)
    print("Unique Values:")
    print(df.nunique())
    print("-" * 100)
    print("Missing Values:")
    print(df.isnull().sum())
    print("\n")



# Create SQLite database and insert DataFrames as tables
conn = sqlite3.connect('orderflow.db')
for table_name, df in dataframes.items():
    df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()
print("DataFrames have been successfully inserted into the SQLite database 'orderflow.db'.")

====================================================================================================
DataFrame for customers:
====================================================================================================
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    100 non-null    object
 1   customer_name  100 non-null    object
 2   city           100 non-null    object
 3   region         100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB
None
----------------------------------------------------------------------------------------------------
Descriptive Statistics:
       customer_id customer_name       city region
count          100           100        100    100
unique         100           100         22      5
top           C201  Rahul Khanna  Ahmedabad   West
freq             1             1          8     29
----------------------------------------------------------------------------------------------------
Unique Values:
customer_id      100
customer_name    100
city              22
region             5
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Values:
customer_id      0
customer_name    0
city             0
region           0
dtype: int64


====================================================================================================
DataFrame for departments:
====================================================================================================
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   department_id    10 non-null     object
 1   department_name  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes
None
----------------------------------------------------------------------------------------------------
Descriptive Statistics:
       department_id department_name
count             10              10
unique             9               9
top               D5      Operations
freq               2               2
----------------------------------------------------------------------------------------------------
Unique Values:
department_id      9
department_name    9
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Values:
department_id      0
department_name    0
dtype: int64


====================================================================================================
DataFrame for employees:
====================================================================================================
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_id    15 non-null     object
 1   employee_name  15 non-null     object
 2   department_id  15 non-null     object
 3   salary         15 non-null     int64
 4   hire_date      15 non-null     object
 5   city           15 non-null     object
dtypes: int64(1), object(5)
memory usage: 848.0+ bytes
None
----------------------------------------------------------------------------------------------------
Descriptive Statistics:
              salary
count      15.000000
mean    82537.400000
std     19612.007178
min     64000.000000
25%     71500.000000
50%     75607.000000
75%     89725.000000
max    141938.000000
----------------------------------------------------------------------------------------------------
Unique Values:
employee_id      15
employee_name    15
department_id     7
salary           15
hire_date        15
city              8
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Values:
employee_id      0
employee_name    0
department_id    0
salary           0
hire_date        0
city             0
dtype: int64


====================================================================================================
DataFrame for orders:
====================================================================================================
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      250 non-null    object
 1   customer_id   250 non-null    object
 2   product_id    250 non-null    object
 3   quantity      250 non-null    int64
 4   order_date    250 non-null    object
 5   total_amount  250 non-null    int64
 6   region        250 non-null    object
dtypes: int64(2), object(5)
memory usage: 13.8+ KB
None
----------------------------------------------------------------------------------------------------
Descriptive Statistics:
         quantity   total_amount
count  250.000000     250.000000
mean     2.956000   56047.600000
std      1.389166   80938.112199
min      1.000000     500.000000
25%      2.000000    6300.000000
50%      3.000000   20000.000000
75%      4.000000   60000.000000
max      5.000000  400000.000000
----------------------------------------------------------------------------------------------------
Unique Values:
order_id        249
customer_id      84
product_id      126
quantity          5
order_date      211
total_amount     47
region            5
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Values:
order_id        0
customer_id     0
product_id      0
quantity        0
order_date      0
total_amount    0
region          0
dtype: int64


====================================================================================================
DataFrame for products:
====================================================================================================
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    440 non-null    object
 1   product_name  440 non-null    object
 2   category      440 non-null    object
 3   price         440 non-null    int64
dtypes: int64(1), object(3)
memory usage: 13.9+ KB
None
----------------------------------------------------------------------------------------------------
Descriptive Statistics:
              price
count    440.000000
mean   14554.090909
std    21757.744289
min      200.000000
25%     1000.000000
50%     3000.000000
75%    15000.000000
max    80000.000000
----------------------------------------------------------------------------------------------------
Unique Values:
product_id      440
product_name    440
category         13
price            20
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Values:
product_id      0
product_name    0
category        0
price           0
dtype: int64


====================================================================================================
DataFrame for returns:
====================================================================================================
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   return_id    75 non-null     object
 1   order_id     75 non-null     object
 2   customer_id  75 non-null     object
 3   product_id   75 non-null     object
 4   return_date  75 non-null     object
 5   reason       75 non-null     object
dtypes: object(6)
memory usage: 3.6+ KB
None
----------------------------------------------------------------------------------------------------
Descriptive Statistics:
       return_id order_id customer_id product_id return_date   reason
count         75       75          75         75          75       75
unique        75       71          49         53          72        8
top           R1    O1100        C219       P303  2023-08-10  Damaged
freq           1        2           5          8           2       12
----------------------------------------------------------------------------------------------------
Unique Values:
return_id      75
order_id       71
customer_id    49
product_id     53
return_date    72
reason          8
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Values:
return_id      0
order_id       0
customer_id    0
product_id     0
return_date    0
reason         0
dtype: int64


DataFrames have been successfully inserted into the SQLite database 'orderflow.db'.